<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Enrique Vañó y Ester Vicario.
</p>
<p>
    <a>https://github.com/Ester1402/quiz_2017</a>
</p>

<img src="/images/dni.jpg" />

<img src="/images/fotokike.png" />