<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Nombre de los alumnos.
</p>

<p>
    Mi repositorio está en <a href="https://github.com/sanpago/quiz_2017.git">github</a>.
</p>

<img src="/images/lechuck.jpg" width="200px"/>

